<%- include('../partials/menu') %>

<% if (typeof errors != 'undefined') { %>
    <ul>
    <% errors.forEach((error) => { %>
        <li> <%= error.msg %> </li>
    <% }) %>    
    </ul>
<% } %>

<form action="/productos/update?_method=PUT" method="post">
    <input type="hidden" name="id" value="<%= values.id || producto.id %>">
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" value="<%= values.nombre || producto.nombre %>">
    </div>
    <div>
        <label for="description"> Descripcion: </label>
        <textarea name="description" id="description" cols="30" rows="10"><%= values.description || producto.descripcion %></textarea>
    </div>
    <button> <a href="/productos" style="text-decoration: none; color: inherit">Volver</a> </button>
    <button type="submit">Editar</button>
</form>